@font-face {
    font-family: "SuperMario256";
    src: url("../fuentes/SuperMario256.ttf") format("truetype");
}

html, body {
    margin: 0;
    height: 100%;
    font-family: "SuperMario256", Arial, sans-serif;
}

body {
    background-image: url("../imagenesGalaxy/backgroundGalaxy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    background: rgba(1, 23, 74, 0.35);
    padding: 50px 0;
}

header h1 {
    font-family: "SuperMario256", Arial, sans-serif;
    font-size: 5rem;
    text-align: center;
    letter-spacing: 3px;
    
    /* Color principal con degradado */
    background: linear-gradient(145deg, #fefefe, #ffcc00, #ff0000, #9900cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    /* Sombra para efecto 3D */
    text-shadow:
        2px 2px 0 #040538, /* sombra negra lateral */
        4px 4px 5px rgba(0,0,0,0.4), /* sombra difusa */
        0 0 5px #ffffff, 
        0 0 10px #4fc3ff, 
        0 0 20px #4fc3ff, 
        0 0 40px #1e88e5;
}
