html, body {

    margin: 0;
    height: 100%;
}

@font-face {
    font-family: "Super Mario 256";
    src: url("../fuentes/SuperMario256.ttf");
}



body {
    margin: 0;
    background-image: url("../imagenesGalaxy/backgroundGalaxy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


header h1{
    font-family:"SuperMario256" ;
    src: url("../fuentes/SuperMario256.ttf");
}