html, body {

    margin: 0;
    height: 100%;
}





body {
    margin: 0;
    background-image: url("../imagenesGalaxy/backgroundGalaxy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


header {
    font-family: super_mario_256 ;
}